* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

/* #region global */

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    font-family: 'Winky Sans';
}


.content {
    width: 100%;
    max-width: 1920px;

}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

button:hover {
    cursor: pointer;
}

/* #endregion */

header {
    height: 10dvh;
    background-color: #082029;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        padding: 0 80px;
    }

    img {
        height: clamp(3rem, 4dvw, 5rem);
    }
}

main {
    min-height: 80dvh;
    color: whitesmoke;
    font-weight: bold;
    background-color: #05171E;
    display: flex;
    justify-content: center;


    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 80px 40px;

        @media(max-width:700px) {
            padding: 40px 8px
        }

        h1 {
            font-size: clamp(2rem, 3.2dvw, 5rem);
            margin-bottom: 16px;
        }

        #container-images {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {

                height: clamp(15rem, 10dvw, 25rem);
                width: clamp(15rem, 10dvw, 25rem);
                object-fit: cover;
                object-position: center;
                border: solid, #46849b, 1px;
                border-radius: 8px;
                margin: 16px;
                transition: 0.3s;
            }

            img:hover {
                box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
                cursor: pointer;
            }
        }
    }

}

footer {
    height: 10dvh;
    background-color: #082029;
    color: #46849b;
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5dvh;

        img {
            height: 5dvh;
            margin-bottom: 1dvh;
        }
    }
}

#dialog {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    justify-content: center;
    align-items: center;

    #dialog-window {
        height: 60dvh;
        width: 80dvh;
        color: white;
        background-color: #0D3240;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 40px 0;

            button {
                background-color: transparent;
                border: none;
                color: white;
                font-family: 'Winky Sans';
                font-size: 20px;
            }
        }

        img {
            width: 80%;
            height: 70%;
            object-fit: cover;
        }

        #select-container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #button-forward{
                background-image: url(./img/right-arrow.png);
                background-size: cover;
                width: 20px;
                height: 20px;
            }
                #button-backward{
                background-image: url(./img/left-arrow.png);
                background-size: cover;
                width: 20px;
                height: 20px;
            }
        }
    }
}