* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

/* #region global */

html {
    font-size: 10px;
}

body {
    font-size: 16px;
}


.content {
    width: 100%;
    max-width: 1920px;
    font-family: 'Winky Sans';
}

/* #endregion */

header {
    height: 10dvh;
    background-color: #082029;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        padding: 0 80px;
    }

    img {
        height: clamp(3rem, 4dvw, 5rem);
    }
}

main {
    min-height: 80dvh;
    color: whitesmoke;
    font-weight: bold;
    background-color: #05171E;
    display: flex;
    justify-content: center;
    

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 80px 0;

        h1 {
            font-size: clamp(2.2rem, 2.5dvw, 5rem);
        }

        #container-images {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {
                height: clamp(15rem, 10dvw, 25rem);
                width: clamp(15rem, 10dvw, 25rem);
                object-fit: cover;
                object-position: center;
                border-radius: 8px;
                margin: 16px;
            }
        }
    }

}

footer {
    height: 10dvh;
    background-color: #082029;
    color: #46849b;
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img{
            height: 50px;
        }
    }
}